<% layout('layouts/boilerplate') %>

<div class="container mb-5 mt-3">
    <h1 class="text-center mb-4">Our Rules</h1>
    <p class="text-center lead">
        At Boomerang, we believe in the power of creativity to transform ideas
        into reality. Explore projects across diverse categories, from Art to
        Technology, and discover a space dedicated to fundraisers and
        <a href="/nonprofit-resources">non-profit initiatives.</a>
    </p>

    <section class="mt-5">
        <h2 class="h4 text-primary mb-3">Boomerang Project Guidelines</h2>
        <p>
            Every Boomerang project must adhere to these five essential
            principles:
        </p>

        <div class="mb-4">
            <h3 class="h5 text-secondary">1. Create Something Meaningful</h3>
            <p>
                Your project should aim to bring something new and valuable into
                the world. Whether it's a product, a piece of art, or an
                experience, the goal is to share it with others. By the end of
                your journey, you should be able to say:
                <em>"Here's what we've made. It’s for the public now!"</em>
            </p>
        </div>

        <div class="mb-4">
            <h3 class="h5 text-secondary">2. Honesty Is Paramount</h3>
            <p>
                Our community thrives on trust. Be transparent about your
                project's goals, plans, and potential challenges. Present
                information truthfully and provide realistic demonstrations,
                avoiding misleading visuals or exaggerated claims.
            </p>
        </div>

        <div class="mb-4">
            <h3 class="h5 text-secondary">3. Focused Fundraising</h3>
            <p>
                While we support
                <a href="/nonprofit-resources">non-profit initiatives,</a> your
                project should have a specific, actionable goal. Funds raised
                should go toward bringing your outlined project to life, rather
                than solely for donation purposes.
            </p>
        </div>

        <div class="mb-4">
            <h3 class="h5 text-secondary">4. No Equity Incentives</h3>
            <p>
                Boomerang is about creativity and innovation, not financial
                returns. Projects cannot offer equity, profit sharing, or
                financial incentives to backers.
            </p>
        </div>

        <div class="mb-4">
            <h3 class="h5 text-secondary">
                5. Adhere to Our Prohibited Content Guidelines
            </h3>
            <p>
                Certain content is not allowed on Boomerang. Please review our
                <a href="/prohibited-content" class="text-primary"
                    >Prohibited Content Guidelines</a
                >
                to ensure your project aligns with our standards.
            </p>
        </div>
    </section>
</div>
