<% layout('layouts/boilerplate') %>

<div class="container mt-3 mb-5">
    <h1 class="text-center mb-4">How Boomerang Works</h1>

    <section class="mb-5">
        <h2 class="h4 text-primary mb-3">Share Your Vision</h2>
        <p>
            Introduce your creative idea to the world. Set a funding goal and
            choose a campaign duration between 1 and 90 days. Offer unique
            rewards that backers will receive when your project comes to life.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4 text-primary mb-3">Engage Your Community</h2>
        <p>
            Reach out to friends, family, and fans to support your journey.
            Boomerang's all-or-nothing funding model ensures you have the
            necessary resources to realize your vision. A simple 5% fee applies
            only if your project is successfully funded.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4 text-primary mb-3">Bring Ideas to Life</h2>
        <p>
            Receive your funds just one week after a successful campaign. Then,
            transform your idea into reality and share the experience with those
            who believed in you.
        </p>
    </section>

    <hr class="my-5" />

    <h1 class="text-center mb-4">Why Boomerang?</h1>

    <section class="mb-5">
        <h2 class="h4 text-primary mb-3">Built for Creators</h2>
        <p>
            Boomerang is a platform dedicated exclusively to creative projects.
            It's a place where your ideas find support, and your creativity
            finds a home.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4 text-primary mb-3">Empowering Funding Model</h2>
        <p>
            Our all-or-nothing approach means you begin your project fully
            equipped. For non-profit initiatives, we offer flexible funding
            options tailored to your needs.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4 text-primary mb-3">A Supportive Community</h2>
        <p>
            Your journey starts with a single step. As you share your idea, your
            community grows—friends become supporters, supporters become
            champions. Together, we turn inspiration into reality.
        </p>
    </section>

    <section clas="mb-5">
        <h2 class="h4 text-primary mb-3">Committed to Making a Difference</h2>
        <p>
            As a Public Benefit Corporation, we measure success by the positive
            impact we create. Our mission is to launch ideas into reality,
            empowering creators everywhere.
        </p>
    </section>
</div>
